@use 'normalize';
@use 'main';
@use 'slider';
@use 'header';
@use 'footer';
@use 'popup';
@import 'variables';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;

}

li::marker {
  color: rgba(31, 161, 129, 1);
  font-size: 1.1rem;
}

button {
  cursor: pointer;
  transition: background-color .3s;
}

.isActive-solid {
  background-color: rgba(0, 210, 159, 1);
}

.isActive-empty {
  background-color: rgba(13, 188, 145, 1);
  color: rgba(255, 255, 255, 1);
}