@use 'normalize';

@mixin font-stack($lineHeight: 33.64px, $fontSize: 26px, $fontWeight: 700, $fontColor: rgba(54, 72, 68, 1)) {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-size: $fontSize;
  color: $fontColor;
}


* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;

}

// body::-webkit-scrollbar {
//   width: 5px;
//   background-color: #f9f9fd;
// }

// body::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-color: #18aaaa;
// }

// body::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
//   border-radius: 10px;
//   background-color: #f9f9fd;
// }

.header {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 19px 20px 17px;
  background-color: rgba(246, 246, 246, 1);

  &__btn {
    background-color: transparent;
    border: none;

    &-icon {
      width: 37px;
      height: 26px;
    }
  }

  &__button {
    width: 196px;
    height: 43px;
    border-radius: 50px;
    background-color: rgba(13, 188, 145, 1);
    @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400, $fontColor: rgba(255, 255, 255, 1));
    display: none;
    border: none;

    &:hover,
    &:active {
      background-color: rgba(0, 210, 159, 1);
    }
  }

  &__info {
    width: 138px;
    height: 38px;
    text-align: right;

    & a {
      @include font-stack($lineHeight: 20.7px, $fontSize: 16px);
      text-decoration: none;

    }

    &-address {
      display: flex;
      flex-direction: column;
      text-align: left;

      &-city {
        @include font-stack($lineHeight: 16.82px, $fontSize: 14px, $fontWeight: 400);

      }

      &-street {
        display: none;
        @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400, $fontColor: rgba(134, 134, 134, 1));
      }
    }

  }
}

.main {
  width: 100%;
  height: 1226px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__menu {
    width: 100%;
    height: 100%;
    padding: 19px;
    background-color: rgba(69, 146, 127, 0.9);
    z-index: 5;
    backdrop-filter: blur(2px);
    position: absolute;

    &-list {
      @include font-stack($fontColor: rgba(255, 255, 255, 1), $lineHeight: 24px, $fontWeight: 400, $fontSize: 16px);
      padding-inline-start: 0;

      &-item {
        margin-top: 10px;
      }
    }

    &-btn {
      margin-top: 39px;
      width: 196px;
      height: 43px;
      background-color: rgba(246, 246, 246, 1);
      border: none;
      border-radius: 50px;
      @include font-stack($fontColor: rgba(31, 161, 129, 1), $lineHeight: 21px, $fontSize: 14px)
    }
  }

  &__feed {
    width: 100%;
    height: 549px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__img {
    width: 100%;
    height: 288px;
  }

  &__description {
    width: 100%;
    height: 261px;
    padding: 34px 18px 53px 17px;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 251, 250, 1);

    &-title {
      @include font-stack;
      width: 267px;
    }

    &-label {
      @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400);
      margin-top: 9px;
      width: 340px;
    }
  }
}

.slider {
  height: auto;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__block {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 49px;

    &-desc {
      height: 367px;
      background-color: rgba(226, 240, 239, 1);
      border-radius: 0 0 5px 5px;
      padding: 22px 30px 42px 23px;

      &-title {
        @include font-stack;
      }

      &-subtitle {
        @include font-stack($fontSize: 14px, $lineHeight: 18.12px);
        display: block;
      }

      &-list {
        padding-inline-start: 15px;
        text-indent: 0;
        @include font-stack($lineHeight: 20.3px, $fontSize: 14px, $fontWeight: 400);
      }

      &-price {
        @include font-stack($fontSize: 18px, $lineHeight: 23.29px, $fontWeight: 400);
      }

      &-old-price {
        @include font-stack($fontSize: 14px, $lineHeight: 18.12px, $fontWeight: 400);
        margin-left: 10px;
        color: rgba(134, 134, 134, 1);
      }

      &-btns {
        width: 100%;
        margin-top: 27px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-1,
        &-2 {
          width: 137px;
          height: 43px;
          border-radius: 50px;
          border: 1px solid rgba(13, 188, 145, 1);
        }

        &-1 {
          @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400, $fontColor: rgba(255, 255, 255, 1));
          background-color: rgba(13, 188, 145, 1);

        }

        &-2 {
          @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400, $fontColor: rgba(13, 188, 145, 1));
          background-color: transparent;
        }

        &-1:hover,
        &-1:active {
          background-color: rgba(0, 210, 159, 1);
        }

        &-2:hover,
        &-2:active {
          background-color: rgba(13, 188, 145, 1);
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  &__control {
    width: 169px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;

    &-btn {
      background-color: transparent;
      border: none;

    }

    &-numbers {
      width: 35px;
      color: rgba(192, 192, 192, 1);

      &-current {
        @include font-stack($lineHeight: 23px, $fontSize: 18px, $fontWeight: 400)
      }

      &-total {
        @include font-stack($lineHeight: 23px, $fontSize: 18px, $fontWeight: 400, $fontColor: rgba(192, 192, 192, 1))
      }
    }


  }
}

li::marker {
  color: rgba(31, 161, 129, 1);
  font-size: 1.1rem;
}

.footer {
  width: 100%;
  height: 291px;
  background-color: rgba(8, 102, 79, 1);
  padding: 46px 18px;
  margin-top: 35px;

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-socials {
      display: flex;
      gap: 20px;
    }
  }

  &__list {
    margin-top: 31px;
    list-style: none;
    @include font-stack($lineHeight: 18px, $fontSize: 14px, $fontWeight: 400, $fontColor: rgba(255, 255, 255, 1));
    padding-inline-start: 0;

    &-item {
      margin-top: 15px;
      cursor: pointer;
    }
  }
}

button {
  cursor: pointer;
  transition: background-color .3s;
}


@media (min-width: 480px) {
  .main__img {
    width: 100%;
    height: 288px;
  }

  .main__description {
    width: 100%;
    height: 261px;
    padding: 34px 18px 53px 17px;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 251, 250, 1);

    &-title {
      @include font-stack;
      width: 267px;
    }

    &-label {
      @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400);
      margin-top: 9px;
      width: 340px;
    }
  }

  .slider {
    height: auto;
    width: 340px;

    &__block {
      width: 100%;
      height: 100%;
      flex-direction: column;
      gap: 0;
      margin-top: 49px;

      &-desc {
        height: 367px;
        padding: 22px 30px 42px 23px;
      }
    }
  }

  .footer {
    width: 100%;
    height: 291px;
  }
}

@media (min-width: 801px) {
  .main {
    height: 765px;

    &__feed {
      width: 100%;
      height: 330px;
      display: flex;
      flex-direction: row-reverse;
    }

    &__img {
      width: 50%;
      height: 330px;
    }

    &__description {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;


      &-title {
        width: 267px;
        @include font-stack($lineHeight: 34px, $fontSize: 26px)
      }

      &-label {
        width: 340px;
        @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400)
      }
    }
  }

  .slider {
    height: 400px;
    width: 80%;
    align-items: center;

    &__block {
      width: 100%;
      height: 100%;
      margin-top: 49px;
      position: relative;

      &-desc {
        clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%);
        height: 100.3%;
        width: 55%;
        padding: 22px 42px 42px 23px;
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: 5px 0 0 5px;
        border: none;

        &-btns {
          margin-top: 20px;
          height: 43px;

          &-1,
          &-2 {
            height: 100%;
          }
        }
      }

      &-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
      }

    }
  }

  .footer {
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 0;

    &__icons {
      width: 90%;
      justify-content: space-between;
    }

    &__list {
      display: flex;
      gap: 30px;
      position: absolute;
      top: 15%;
      left: 22%;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    height: 67px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    background-color: rgba(246, 246, 246, 1);

    &__btn {
      background-color: transparent;
      display: none;
    }

    &__button {
      display: block;
      margin-left: 35px;
    }

    &__logo {
      width: 91px;
      height: 27px;
      margin-right: 35px;
    }

    &__info {
      width: 823px;
      height: 38px;
      text-align: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      & a {
        @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400);
        text-decoration: none;

      }

      &-phone {
        position: relative;

        &::before {
          content: url('../assets/headerWhatsapp.svg');
          position: absolute;
          bottom: -35%;
          left: -130%;
          right: 0;
        }
      }

      &-address-city {
        @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400);
        position: relative;

        &::before {
          content: url('../assets/geo.svg');
          position: absolute;
          bottom: -3px;
          left: -18px;
          right: 0;
        }

      }

      &-address-street {
        display: block;
      }
    }
  }

  .main {
    height: 1057px;

    &__feed {
      width: 100%;
      height: 443px;
      display: flex;
      flex-direction: row-reverse;
    }

    &__img {
      width: 50%;
      height: 400px;
      margin-top: 43px;
    }

    &__description {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      &-title {
        width: 416px;
        margin-left: 45px;
        @include font-stack($lineHeight: 47px, $fontSize: 36px)
      }

      &-label {
        width: 367px;
        @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400)
      }
    }

    &__menu {
      width: 100%;
      height: 43px;
      margin: 0;
      padding: 0;
      background-color: rgba(31, 161, 129, 1);
      display: flex;
      align-items: center;

      &-list {
        @include font-stack($fontColor: rgba(255, 255, 255, 1), $lineHeight: 24px, $fontWeight: 400, $fontSize: 16px);
        padding-inline-start: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 30px;
        margin: 0 0 0 40px;
        padding: 10px 20px;

        &-item {
          cursor: pointer;
          padding: 0;
          margin: 0;
          @include font-stack($fontColor: rgba(255, 255, 255, 1), $lineHeight: 24px, $fontWeight: 400, $fontSize: 16px);
        }
      }

      &-btn {
        display: none;
      }
    }
  }

  .slider {
    height: 608px;
    width: 915px;
    align-items: center;

    &__block {
      width: 100%;
      height: 540px;
      margin-top: 100px;
      display: flex;

      &-desc {
        clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%);
        height: 100.1%;
        width: 614px;
        padding: 53px 141px 56px 63px;
        z-index: 2;
        border-radius: 5px 0 0 5px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
          @include font-stack($lineHeight: 49px, $fontSize: 38px)
        }

        &-subtitle {
          @include font-stack($lineHeight: 29px, $fontSize: 22px)
        }

        &-list {
          @include font-stack($lineHeight: 21px, $fontSize: 16px, $fontWeight: 400)
        }

        &-price {
          @include font-stack($lineHeight: 26px, $fontSize: 20px, $fontWeight: 400)
        }

        &-old-price {
          @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400, $fontColor: rgba(134, 134, 134, 1))
        }

        &-btns {
          margin-top: 20px;
          height: 43px;
          width: 406px;

          &-1,
          &-2 {
            height: 100%;
            width: 196px;
          }
        }
      }

      &-img {

        width: 692px;
        height: 100%;
        z-index: 1;
        border-radius: 0 5px 5px 0;
      }

    }

    &__control {
      margin-top: 34px;
    }
  }

  .footer {
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 92px;

    &__icons {
      width: 80%;
      justify-content: space-between;
    }

    &__list {
      display: flex;
      gap: 30px;
      position: absolute;
      top: 15%;
      left: 28%;
    }
  }
}

@media (min-width:1281px) {
  .header {
    height: 67px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 150px;
    background-color: rgba(246, 246, 246, 1);

    &__btn {
      display: none;
    }

    &__button {
      display: block;
    }

    &__logo {
      width: 91px;
      height: 27px;
    }

    &__info {
      width: 823px;
      height: 38px;
      text-align: center;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      & a {
        @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400);
        text-decoration: none;

      }

      &-phone {
        position: relative;

        &::before {
          content: url('../assets/headerWhatsapp.svg');
          position: absolute;
          bottom: -35%;
          left: -130%;
          right: 0;
        }
      }

      &-address-city {
        @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400);
        position: relative;

        &::before {
          content: url('../assets/geo.svg');
          position: absolute;
          bottom: -3px;
          left: -18px;
          right: 0;
        }

      }

      &-address-street {
        display: block;
      }
    }
  }

  .main {
    height: 1057px;


    &__feed {
      width: 100%;
      height: 443px;
      display: flex;
      flex-direction: row-reverse;
    }

    &__img {
      width: 50%;
      height: 400px;
      margin-top: 43px;
    }

    &__description {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      &-title {
        width: 416px;
        margin-left: 45px;
        @include font-stack($lineHeight: 47px, $fontSize: 36px)
      }

      &-label {
        width: 367px;
        @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400)
      }
    }

    &__menu {
      width: 100%;
      height: 43px;
      background-color: rgba(31, 161, 129, 1);
      display: flex;
      align-items: center;

      &-list {
        @include font-stack($fontColor: rgba(255, 255, 255, 1), $lineHeight: 24px, $fontWeight: 400, $fontSize: 16px);
        padding-inline-start: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 30px;
        margin-left: 160px;

        &-item {
          cursor: pointer;
          padding: 0;
          margin: 0;
          @include font-stack($fontColor: rgba(255, 255, 255, 1), $lineHeight: 24px, $fontWeight: 400, $fontSize: 16px);
        }
      }

      &-btn {
        display: none;
      }
    }
  }

  .slider {
    height: 608px;
    width: 1140px;
    align-items: center;

    &__block {
      width: 100%;
      height: 540px;
      margin-top: 100px;
      display: flex;

      &-desc {
        clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%);
        height: 100.1%;
        width: 614px;
        padding: 53px 141px 56px 63px;
        z-index: 2;
        border-radius: 5px 0 0 5px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
          @include font-stack($lineHeight: 49px, $fontSize: 38px)
        }

        &-subtitle {
          @include font-stack($lineHeight: 29px, $fontSize: 22px)
        }

        &-list {
          @include font-stack($lineHeight: 21px, $fontSize: 16px, $fontWeight: 400)
        }

        &-price {
          @include font-stack($lineHeight: 26px, $fontSize: 20px, $fontWeight: 400)
        }

        &-old-price {
          @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400, $fontColor: rgba(134, 134, 134, 1))
        }

        &-btns {
          margin-top: 20px;
          height: 43px;
          width: 406px;

          &-1,
          &-2 {
            height: 100%;
            width: 196px;
          }
        }
      }

      &-img {

        width: 692px;
        height: 100%;
        z-index: 1;
        border-radius: 0 5px 5px 0;
      }

    }

    &__control {
      margin-top: 34px;
    }
  }

  .footer {
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 92px;

    &__icons {
      width: 80%;
      justify-content: space-between;
    }

    &__list {
      display: flex;
      gap: 30px;
      position: absolute;
      top: 15%;
      left: 35%;
    }
  }
}

@media (min-width:1920px) {
  .header {
    height: 67px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 19px 20px 60px;
    background-color: rgba(246, 246, 246, 1);

    &__btn {
      display: none;
    }

    &__button {
      display: block;
      margin-left: 35px;
    }

    &__logo {
      width: 91px;
      height: 27px;
    }

    &__info {
      width: 823px;
      height: 38px;
      text-align: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      & a {
        @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400);
        text-decoration: none;

      }

      &-phone {
        position: relative;

        &::before {
          content: url('../assets/headerWhatsapp.svg');
          position: absolute;
          bottom: -35%;
          left: -130%;
          right: 0;
        }
      }

      &-address-city {
        @include font-stack($lineHeight: 21px, $fontSize: 14px, $fontWeight: 400);
        position: relative;

        &::before {
          content: url('../assets/geo.svg');
          position: absolute;
          bottom: -3px;
          left: -18px;
          right: 0;
        }

      }

      &-address-street {
        display: block;
      }
    }
  }

  .main {
    height: 1276px;


    &__feed {
      width: 100%;
      height: 576px;
      display: flex;
      flex-direction: row-reverse;
    }

    &__img {
      width: 50%;
      height: 533px;
      margin-top: 43px;
    }

    &__description {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;


      &-title {
        width: 416px;
        margin-left: 45px;
        @include font-stack($lineHeight: 47px, $fontSize: 36px)
      }

      &-label {
        width: 367px;
        @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400)
      }
    }

    &__menu {
      width: 100%;
      height: 43px;
      background-color: rgba(31, 161, 129, 1);
      display: flex;
      align-items: center;

      &-list {
        @include font-stack($fontColor: rgba(255, 255, 255, 1), $lineHeight: 24px, $fontWeight: 400, $fontSize: 16px);
        padding-inline-start: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 30px;
        margin: 0 0 0 390px;

        &-item {
          cursor: pointer;
          padding: 0;
          margin: 0;
          @include font-stack($fontColor: rgba(255, 255, 255, 1), $lineHeight: 24px, $fontWeight: 400, $fontSize: 16px);
        }
      }

      &-btn {
        display: none;
      }
    }
  }

  .slider {
    height: 608px;
    width: 1140px;
    align-items: center;

    &__block {
      width: 100%;
      height: 540px;
      margin-top: 100px;
      display: flex;

      &-desc {
        clip-path: polygon(0 0, 73% 0, 100% 100%, 0 100%);
        height: 440.5px;
        width: 614px;
        padding: 53px 141px 56px 63px;
        z-index: 2;
        border-radius: 5px 0 0 5px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
          @include font-stack($lineHeight: 49px, $fontSize: 38px)
        }

        &-subtitle {
          @include font-stack($lineHeight: 29px, $fontSize: 22px)
        }

        &-list {
          @include font-stack($lineHeight: 21px, $fontSize: 16px, $fontWeight: 400)
        }

        &-price {
          @include font-stack($lineHeight: 26px, $fontSize: 20px, $fontWeight: 400)
        }

        &-old-price {
          @include font-stack($lineHeight: 24px, $fontSize: 16px, $fontWeight: 400, $fontColor: rgba(134, 134, 134, 1))
        }

        &-btns {
          margin-top: 20px;
          height: 43px;
          width: 406px;

          &-1,
          &-2 {
            height: 100%;
            width: 196px;
          }
        }
      }

      &-img {

        width: 692px;
        height: 440px;
        z-index: 1;
        border-radius: 0 5px 5px 0;
      }

    }

    &__control {
      margin-top: 34px;
    }
  }

  .footer {
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 0;

    &__icons {
      width: 80%;
      justify-content: space-between;
    }

    &__list {
      display: flex;
      gap: 30px;
      position: absolute;
      top: 15%;
      left: 35%;
    }
  }
}

.isActive-solid {
  background-color: rgba(0, 210, 159, 1);
}

.isActive-empty {
  background-color: rgba(13, 188, 145, 1);
  color: rgba(255, 255, 255, 1);
}

.popup {
  position:fixed;
  bottom: 0;
  z-index: 10;
  right: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.295);
}